<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">

    <title>{% if page.title %}{{ page.title }} - {{ site.subtitle }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ '/css/clean-blog.min.css' | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <!-- https://fonts.gstatic.com is the font file origin -->
    <!-- It may not have the same origin as the CSS file (https://fonts.googleapis.com) -->
    <link rel="preconnect"
        href="//fonts.gstatic.com"
        crossorigin>

    <link rel="preconnect"
        href="//maxcdn.bootstrapcdn.com/"
        crossorigin>

    <!-- We use the full link to the CSS file in the rest of the tags -->
    <!-- Google Fonts -->
    <link rel="preload"
        as="style"
        href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic%7COpen+Sans:300,400,600,700,800,300italic,400italic,600italic,700italic,800italic%7CCaveat:400,700&display=swap">

    <link rel="stylesheet"
        href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic%7COpen+Sans:300,400,600,700,800,300italic,400italic,600italic,700italic,800italic%7CCaveat:400,700&display=swap"
        media="print" onload="this.media='all'">

    <noscript>
        <link rel="stylesheet"
            href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic%7COpen+Sans:300,400,600,700,800,300italic,400italic,600italic,700italic,800italic%7CCaveat:400,700&display=swap">
    </noscript>

    <!-- Font Awesome -->
    <link rel="preload"
        as="style"
        href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
        media="print" onload="this.media='all'">

    <noscript>
        <link rel="stylesheet"
            href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    </noscript>

    {% feed_meta %}
    {% include ga.html %}

</head>
